.Rproj.user
.Rhistory
.RData
.Ruserdata
report/report.aux
report/report.idx
report/report.ilg
report/report.ind
report/report.log
report/report.out
report/report.synctex.gz
report/report.toc
report/report.bbl
report/report.blg
report/report.synctex(busy)
.vscode/settings.json
PrimeVsRandom.Rproj
.vscode/settings.json
